/* .error {
    color: red;
}

p.error {
    color: seagreen;
}

p.success{
    color: rgb(235, 235, 42);
}
p.success.feedback {
    color: rgb(89, 71, 255);
}
#content {
    background-color: yellow;
} 
div p{
    color: purple;
}
*/
div {
    color: seagreen;
    border: sienna;
    background-color: blue;
}